* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(238, 216, 150);
}

.containerca {
  width: 600px;
  position: relative;
  margin: auto;
  border-radius: 20px;
  background-color: white;
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px;
}

.modifica-input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: rgb(244, 204, 84) solid 1px;
  outline: none;
  margin: 5px 0px 1px 0px;
}

.enviar {
  padding: 10px;
  width: 25%;
  border-radius: 25px;
  border: solid 1px rgb(244, 204, 84);
  cursor: pointer;
}
.enviar:hover {
  background-color: rgb(244, 204, 84);
  transition: 0.5s;
}
