* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background: rgb(238, 216, 150);
}

.containerca {
  width: 600px;
  position: relative;
  margin: auto;
  border-radius: 20px;
  border: 5px solid rgb(245, 162, 55);
  background-color: white;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 20px;
}

.modifica-input {
  height: 40px;
  width: 50%;
  border: none;
  border-bottom: rgb(244, 204, 84) solid 1px;
  outline: none;
  margin: 5px 0px 1px 0px;
}
@media (max-width: 1000px) {
  .modifica-input {
    height: 6vh;
    width: 80%;
  }
  .containerca {
    width: 100%;
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
}

.enviar {
  padding: 10px;
  width: 25%;
  border-radius: 25px;
  border: solid 1px rgb(244, 204, 84);
  cursor: pointer;
}
.enviar:hover {
  background-color: rgb(244, 204, 84);
  transition: 0.5s;
}
